
.container {
    max-width: 425px;
    margin: 0 auto;
}

:root {
    --primary-color: #6750A4;
    --on-surface-color: #1C1B1F;
    --surface-color: #FFFBFE;
    --outline-color: #79747E;
}

.header {    
    border: 1px solid black;   
    border-radius: 5px;
    margin: 5px;
    max-width: 425px;
    justify-content: center;
}

.header__flex {
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
}

.header__img {
    width: 20px;
    margin: 5px;
}

.text-h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 10px;
    letter-spacing: 0.1px;
    font-size: 9px;
    margin: 5px;
}

.header__button {}