body {
    box-sizing: border-box;
}

.container {
    max-width: 425px;
    margin: 0 auto;
}

:root {
    --primary-color: #6750A4;
    --on-surface-color: #1C1B1F;
    --surface-color: #FFFBFE;
    --outline-color: #79747E;
}

.header {    
    border: 1px solid #79747E;
    background: #FFFBFE;
    border-radius: 12px;
    margin: 5px;
    width: 1; 
  
}

.header__flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__flex_item {
    display: flex;
    justify-content: space-between;
}

.header__img {
    width: 60px;
    margin: 10px;
}

.text-h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.1px;
    margin: 5px;
}

.burger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: var(--primary-color);
    border-radius: 12px;
    margin-right: 10px;
  }
  
  .burger__line {
    display: block;
    width: 16px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 4px;
  }
  
  .burger__line:last-child {
    margin-bottom: 0;
  }

.header__button {}